.DS_Store
.DS_Store?
.brackets.json
img.png
semana6/test1/*
semana6/test2/*
semana6/test3/*
semana6/test4/*
semana6/parcial2/*
semana5/parcial/*
node_modules/
# semana3/cv1.html
# semana3/hv.html
# semana3/menu.html